/***************************
 * Global
 **************************/
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: #c5f3f1;
    background: url(../img/bg-login.jpg) no-repeat center/cover;
    width: 100vw;
    height: 100vh;
}

a, button {
    -webkit-transition: .2s all ease-out;
    -moz-transition: .2s all ease-out;
    -ms-transition: .2s all ease-out;
    -o-transition: .2s all ease-out;
    transition: .2s all ease-out;
}

h1 {
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
}

.wrapper {
    width: 1080px;
    margin: 0 auto;
}

.errors {
    margin-bottom: 10px;
    color: #e74c3c;
}

.sf-toolbar {
    /*display: none !important;*/
}

.filter {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.25);
    z-index: 1;
}

.disconnect {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #ff2c4f;
    z-index: 10;
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    padding: 20px;
    cursor: pointer;
    font-weight: 700;
}

.disconnect:hover {
    background-color: #fb536f;
}

#fragmentsDiscovered {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #ff2c4f;
    z-index: 10;
    text-decoration: none;
    color: #fff;
    padding: 20px;
    cursor: pointer;
    font-weight: 700;
    width: 400px;
}

#fragmentsDiscovered p {
    line-height: 1.4;
    margin-top: 20px;
}

#fragmentsDiscovered p:first-child {
    margin-top: 0;
}

.homepage {
    background-color: #ff2c4f;
    z-index: 10;
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    height: 40px;
    width: 40px;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
    font-weight: 700;
    display: inline-block;
    position: absolute;
    left: -60px;
    top: 36px;
}

.intro {
    padding: 20px 30px;
}

.intro .title {
    font-size: 25px;
    line-height: 1.2;
    font-weight: 700;
}

.intro .subtitle {
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
    color: #818596;
}

#center-block {
    width: 320px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate3d(-50%, -50%, 0);
    -moz-transform: translate3d(-50%, -50%, 0);
    -ms-transform: translate3d(-50%, -50%, 0);
    -o-transform: translate3d(-50%, -50%, 0);
    transform: translate3d(-50%, -50%, 0);
    z-index: 2;
}

.form {
    margin-top: 20px;
    background-color: #F6F4F4;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, .13);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, .13);
    box-shadow: 0 1px 3px rgba(0, 0, 0, .13);
}

p.space {
    line-height: 1.2;
    padding: 20px;
}

.space {
    padding: 20px;
}

.red {
    color: #ff2c4f;
}

.strong {
    font-weight: 700;
}

h3 {
    text-transform: uppercase;
    font-weight: 700;
    padding: 20px 0;
}

.center {
    text-align: center;
}

.btn {
    padding: 16px 24px;
    color: #fff;
    background-color: #ff2c4f;
    text-transform: uppercase;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    font-weight: 700;
}

.btn-full {
    width: 100%;
}

.btn:hover {
    background-color: #fb536f;
}

button {
    border: 0;
    font-size: 18px;
    display: block;
    width: 100%;
}

/***************************
 * Page Auth
 **************************/

#page-auth #login-form #username, #page-auth #login-form #password {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: #fff;
    width: 100%;
    font-size: 14px;
    padding: 30px;
    border: 0;
    border-top: 1px solid #e5e5e5;
}

#page-auth #login-form #_submit {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 0;
    font-size: 16px;
    cursor: pointer;
    height: 70px;
    width: 100%;
    background: #2ecc71;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    -webkit-transition: .2s background-color ease-out;
    -moz-transition: .2s background-color ease-out;
    -ms-transition: .2s background-color ease-out;
    -o-transition: .2s background-color ease-out;
    transition: .2s background-color ease-out;
}

#page-auth #login-form #_submit:hover {
    background: #27ae60;
}

#page-auth .register {
    background-color: #ff2c4f;
    z-index: 10;
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    padding: 20px;
    cursor: pointer;
    font-weight: 700;
    display: inline-block;
    position: absolute;
    right: 0;
    bottom: -80px;
}

#page-auth .register:hover {
    background-color: #fb536f;
}

/***************************
 * Register
 **************************/

.input-fields input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: #fff;
    width: 100%;
    font-size: 14px;
    padding: 30px;
    border: 0;
    border-top: 1px solid #e5e5e5;
}

#page-register #submit {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 0;
    font-size: 16px;
    cursor: pointer;
    height: 70px;
    width: 100%;
    background: #2ecc71;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    -webkit-transition: .2s background-color ease-out;
    -moz-transition: .2s background-color ease-out;
    -ms-transition: .2s background-color ease-out;
    -o-transition: .2s background-color ease-out;
    transition: .2s background-color ease-out;
}

#page-auth #submit:hover {
    background: #27ae60;
}

pre.sf-dump {
    left: 0 !important;
}