<!doctype html>
<html class="no-js" lang="fr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% block stylesheets %}
        <link href="{{ asset('bundles/appbundle/css/reset.css') }}" type="text/css" rel="stylesheet"/>
        <link href="{{ asset('bundles/appbundle/css/global.css') }}" type="text/css" rel="stylesheet"/>
        <link href='https://api.mapbox.com/mapbox.js/v2.4.0/mapbox.css' rel='stylesheet' />
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
    {% endblock %}
</head>
<body id="page">
{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
    <a href="{{ path('fos_user_security_logout') }}" class="disconnect">
        Déconnexion
    </a>
{% endif %}
<div class="filter"></div>

<div id="fragmentsDiscovered">
    {% for fragment in fragmentDiscovered %}
        <p>{{ fragment| convert_encoding('UTF-8', 'ISO-8859-1') }}</p>
    {% endfor %}
</div>

<div class="wrapper">
    <div id="center-block">
        <h1>The Unmissing Poems</h1>

        {% if step == 0 %}
            <div class="form center">
                <h3>Étape 1 : L'énigme</h3>
                <form action="" method="POST" id="sendRiddle">
                    <input type="hidden" name="sendRiddle" value="1">
                    <button class="btn btn-full">M'envoyer une énigme</button>
                    {#<a href="#" class="btn btn-full">M'envoyer une énigme</a>#}
                </form>
            </div>
            <div class="form center">
                <form action="" id="submitAnswerRiddle" method="POST" class="input-fields">
                    <input type="text" name="answerRiddle" placeholder="Réponse à l'énigme">
                    <button class="btn">Valider</button>
                </form>
                {% if answerState == false %}
                    <p class="red space strong" id="answerTrueRiddle">Mauvaise réponse</p>
                {% endif %}
            </div>

        {% else %}
            <div class="form space center">
                <h3>Étape 2 : Le code</h3>
                <p class="red space strong" id="answerTrueRiddle">Coordonnées GPS : {{ fragment.lat }}:{{ fragment.long }}</p>
            </div>
            <div class="form center">
                <form action="" id="submitAnswerCode" method="POST" class="input-fields">
                    <input type="number" name="answerCode" placeholder="Renseigner le code">
                    <button class="btn">Valider</button>
                </form>
                {% if answerState == false %}
                    <p class="red space strong" id="answerTrueRiddle">Mauvais Code</p>
                {% endif %}
            </div>

            <script src='https://api.mapbox.com/mapbox.js/v2.4.0/mapbox.js'></script>

            <div id='map' class='map' style="height: 200px; margin-top: 20px;"> </div>
            <script>
                L.mapbox.accessToken = 'pk.eyJ1IjoiaGVyaWp1IiwiYSI6ImNpdXpjbmV3NjAwMzcyeW04bndudWdzbmsifQ.eDiw-7HNjbJiAfGyt6sxew';
                var mapTooltips = L.mapbox.map('map', 'mapbox.light')
                        .setView([38, -40], 2);
                var myLayer = L.mapbox.featureLayer().addTo(mapTooltips);

                var geojson = [
                    {
                        type: 'Feature',
                        geometry: {
                            type: 'Point',
                            coordinates: [{{ fragment.long }}, {{ fragment.lat }}]
                        },
                        properties: {
                            title: 'Code',
                            description: '{{ fragment.code }}',
                            'marker-color': '#ff2c4f',
                            'marker-size': 'small',
                        }
                    }
                ];
                myLayer.setGeoJSON(geojson);
                mapTooltips.scrollWheelZoom.disable();
            </script>
        {% endif %}


    </div>
</div>

</body>
</html>