{#{% if error %}#}
    {#<div class="errors">{{ error.messageKey|trans(error.messageData, 'security') }}</div>#}
{#{% endif %}#}

{{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
<div class="intro">
    <div class="title">S'inscrire</div>
    <div class="subtitle">Veuillez remplir tous les champs.</div>
</div>

<div class="input-fields">
    {{ form_widget(form.email, {'attr': {'placeholder': 'Email'}}) }}
    {{ form_widget(form.username, {'attr': {'placeholder': 'Nom de compte'}}) }}
    {{ form_widget(form.plainPassword.first, {'attr': {'placeholder': 'Mot de passe'}}) }}
    {{ form_widget(form.plainPassword.second, {'attr': {'placeholder': 'Confirmation du mot de passe'}}) }}
</div>
<input id="submit" type="submit" value="{{ 'Valider'|trans }}"/>
{{ form_end(form) }}

<a href="{{ path('homepage') }}" class="homepage"><</a>