{% trans_default_domain 'FOSUserBundle' %}

{% if error %}
    <div class="errors">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}

<form action="{{ path("fos_user_security_check") }}" method="post">
    {% if csrf_token %}
        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
    {% endif %}

    <div class="intro">
        <div class="title">Se connecter</div>
        <div class="subtitle">Veuillez remplir tous les champs.</div>
    </div>

    <input type="text" id="username" name="_username" placeholder="Identifiant" required="required" />
    <input type="password" id="password" name="_password" placeholder="Mot de passe" required="required" />

    <input type="hidden" id="remember_me" name="_remember_me" value="on" checked />

    <input type="submit" id="_submit" name="_submit" value="Se connecter" />
</form>
<a href="{{ path("fos_user_registration_register") }}" class="register">Pas encore membre ?</a>