<!doctype html>
<html class="no-js" lang="fr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% block stylesheets %}
        <link href="{{ asset('bundles/appbundle/css/reset.css') }}" type="text/css" rel="stylesheet"/>
        <link href="{{ asset('bundles/appbundle/css/global.css') }}" type="text/css" rel="stylesheet"/>
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
    {% endblock %}
</head>
<body id="page">
{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
    <a href="{{ path('fos_user_security_logout') }}" class="disconnect">
        Déconnexion
    </a>
{% endif %}
<div class="filter"></div>
<div class="wrapper">
    <div id="center-block">
        <h1>The Unmissing Poems</h1>
        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") == false %}
            <div class="form">
                {% block content %}
                    {% block fos_user_content %}{% endblock %}
                {% endblock %}
            </div>
        {% endif %}
        <a href="{{ path('homepage') }}" class="homepage"><</a>
    </div>
</div>

</body>
</html>